/* CSS Reset */
/* Let's Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
    color: rgb(255, 255, 255);
}

html{
    font-size: 75.5%;
    overflow-x: hidden;
}

body{
    background: #2c5a8f;
    color: #fff;
}
/* Header Section */
.header{
    background: rgba(45, 57, 95, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    border: 1px solid #fff;
}

.logo{
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
}

.menu-bar a{
    font-size: 1.5rem;
    margin-left: 3.5rem;
    transition: 0.4s ease;
}

.menu-bar a:hover{
    color: rgb(158, 150, 243);
}

#menu-btn{
    font-size: 3rem;
    display: none;
}

section{
    padding: 10rem 10%;
    min-height: 100vh;
}

/* Home Section */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-bio h3{
    font-size: 2.5rem;
}

span{
    color: rgb(158, 150, 243);
}

.home-bio h1{
    font-size: 3.5rem;
    line-height: 1.4;
}

.home-bio p{
    font-size: 1.5rem;
    padding: 1rem 0;
}

.profile-pic img{
    margin-left: 50px;
    width: 15vw;
    border-radius: 15%;
    animation: float 5s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.5rem);
    }
    100%{
        transform: translateY(0);
    }
}

.social-media a{
    width: 3.8rem;
    height: 3.8rem;
    font-size: 2.2rem;
    margin-left: 90px;
    margin-right: -55px;
    margin-bottom: 230px;
 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.4s ease;
}

.social-media a:hover{
    color: rgb(181, 108, 217);
    box-shadow: 0 0 1rem rgb(152, 97, 207);
}

.btn{
    display: inline-block;
    background: aqua;
    margin: 2rem 0;
    padding: 1rem 2.5rem;
    border-radius: 1.3rem;
    font-size: 1.3rem;
    color: #000;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover{
    color: aqua;
    background: #000;
    box-shadow: 0 0 1rem aqua;
}

.home {
    background-image: url(images/seniorphoto.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
}


/* About Section */
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heading{
    font-size: 3.3rem;
    color: rgb(158, 150, 243);
    text-align: center;
    margin: 4rem 0;
}

.about-items{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.about-resume h3{
    font-size: 2.4rem;
}

.profile-pic {
    text-align: center; /* Center the content horizontally */
  }
  
  .about-resume {
    margin-left: 45px;
  }

.about-text p{
    font-size: 1.8rem;
    margin-top: 15px;
}


/* Projects Section */
.activities-intro {
    color:rgb(255, 255, 255);
    font-size: 2rem;
}
.projects{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.projects-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.project-card {
    position: relative;
    height: 30rem;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.project-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/*.card-overlay {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 0.4s all linear;
}*/

/*.sing:hover {
    background: rgba(79, 76, 76, 0.8);
    color: #000;
}*/

/*.card-overlay .bx {
    color: #000;
    font-size: 1.8rem;
    padding: 1.1rem;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 0.8rem;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}*/

/*.card-overlay .bx:hover {
    transform: scale(1.2);
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 2rem aqua;
}*/

/* Contact Section */
.contact{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* Assuming your contact section has a class named 'contact' */
.contact {
    display: flex;
    align-items: flex-start; /* Align items to the start (left) */
    justify-content: flex-start; /* Justify content to the start (left) */
    flex-direction: column;
}

.contact-image {
    width: 400px; /* Set your preferred width */
    height: auto; /* Maintain aspect ratio */
    margin-left: 500px;
    margin-top: -250px;
    margin-right: 500px;
}

/*form{
    display: grid;
    row-gap: 1rem;
}

form input,
textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    resize: none;
}*/

/* Footer Section */

.footer{
    padding: 2rem 10%;
    text-align: center;
    font-size: 1rem;
}

hr{
    margin: 1rem;
    border-bottom: thin solid #fff;
}

/* Responsive Section */
@media (max-width: 1200px){
    html{
        font-size: 60%;
    }
}

@media (max-width: 992px){
    .header{
        padding: 2rem 4%;
    }
    .home img{
        width: 40vw;
    }
}

@media (max-width: 767px){
    #menu-btn{
        display: block;
    }
    .menu-bar{
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        background: rgba(0, 0, 0, 0.9);
        display: none;    
    }
    .menu-bar.active{
        display: block;
    }
    .menu-bar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }
    .home, .about-items{
        flex-direction: column;
    }

    .home img{
        width: 80vw;
    }

    .heading{
        font-size: 3rem;
    }

    .skills-items{
        grid-template-columns: repeat(2,1fr);
    }

}

@media (max-width: 620px){
    .skills-items{
        grid-template-columns: repeat(1,1fr);
    }

    .projects-items{
        grid-template-columns: repeat(1,1fr);
    }

    .heading{
        font-size: 2.7rem;
    }
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }
}

.phone-emoji {
    font-size: 24px; 
    margin-right: 10px;
}

.email-emoji {
    font-size: 40px; 
    margin-right: 10px;
}

.project-intro {
    margin-top: 20px;
    font-size: 20px;
}

.home-bio {
    background-color: rgba(169, 169, 169, 0.3);
    padding: 20px;
    border: 2px solid #2c5a8f; /* Add a white border */
    border-radius: 10px; /* Round the edges */
}

.university, .of, .michigan {
    display: inline; 
    margin: 2px; 
}

.university {
    color: #2c5a8f;
}

.proj-title {
    font-weight: bold;
    margin-top: 25px;
    font-size:20px;
    margin-bottom: 10px;
}

.proj-desc {
    font-size: 15px;
    margin-bottom: 20px;
}

.single {
    border: 25px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 10px;
}

.single:hover {
    background-color: #11263e;
}


